body {
  background-color: white;
  font-family: "Markazi Text", serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

.container {
  display: inline-flex;
  flex: 1 1 300px;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.icon {
  padding: 0.8rem;
}

.searchBox {
  border: 0;
  flex: 1;
}

.searchButton {
  color: white;
  background: #0f4a8a;
  border: 0;
  padding: 0.8rem;
  border-radius: 8px;
}

h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  list-style: none;
  text-align: center;
  background-color: rgb(255, 174, 0);
}

nav li {
  display: inline-block;
}

li a {
  display: inline-block;
  padding: 25px;
  margin: 0 25px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: lightsteelblue;
}

main {
  background-color: lightcoral;
  text-align: center;
  padding: 2em;
}

main div {
  flex: auto;
  background-color: rgb(230, 104, 104);
  padding: 1em;
}

.service {
  font-size: 25px;
}
