body {
  background-color: white;
  font-family: "Markazi Text", serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

.container {
  display: inline-flex;
  flex: 1 1 300px;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.icon {
  padding: 0.8rem;
}

.searchBox {
  border: 0;
  flex: 1;
}

.searchButton {
  color: white;
  background: #0f4a8a;
  border: 0;
  padding: 0.8rem;
  border-radius: 8px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  list-style: none;
  text-align: center;
  background-color: rgb(255, 174, 0);
  border-radius: 10px;
}

nav li {
  display: inline-block;
}

li a {
  display: inline-block;
  padding: 25px;
  margin: 0 25px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: lightsteelblue;
}

main {
  background-color: lightcoral;
  text-align: center;
  padding: 2em;
}

#promotion-banner {
  text-align: center;
  padding: 20px;
  background-color: #247;
  color: rgb(68, 11, 226);
  margin: 10px;
  border-radius: 10px;
  font-size: 200%;
  background-image: url("promotion-banner.png");
}

#promotion-banner .content {
  max-width: 600px;
  margin: 0 auto;
}

#promotion-banner h1 {
  font-family: "Montserrat";
  font-weight: 800;
  line-height: 1em;
  font-size: 75px;
  color: rgb(255, 255, 255);
}

#promotion-banner p {
  color: rgb(244, 246, 249);
  margin-bottom: 20px;
  line-height: 1.66em;
  font-family: "Lato";
  font-size: 24px;
}

.wrap {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.item {
  max-width: 700px;
  max-height: 800px;
  background-color: aliceblue;
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
  box-sizing: border-box;
}

.item img {
  max-width: 75%;
  height: 60%;
  display: block;
  margin: 0 auto;
}

.item p {
  max-height: 75%;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer {
  display: flex;
  background-color: blanchedalmond;
  align-self: center;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
}

.id-container {
  display: flex;
}

.id-container img {
  max-width: 25%;
  height: 30%;
  display: block;
  margin: 0 auto;
}

.id-container div {
  font-size: 25px;
  color: rgb(121, 72, 219);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-self: center;
  text-align: left;
}
